/* main content of the webpage */

body{
    background-image: url(images/background.jpg);
}




.container{
    width: 40%;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
    background-color: #ffffff;
    border-radius:10px;
    text-align: center;
    margin-top: 7%;

}

hr{
    width: 80%;
}

.fb{

    padding: 0.5rem 2rem;
    color: #ffffff;
    background-color: #426782;
    border:none;
    border-radius: 5px;;

}

a{
    text-decoration: none;
}


.container{
    padding: 0.5rem;
    width: 70%;
}


/* for adjusting the heights of checkbox */

.containeer [type=checkbox] {
    width: auto;
}

/* signup button at end */
.btn{
    padding: 1rem;
    background-color: #2ecc71;
    font-size:1rem;
    width: 50%;
    border-radius: 7px;
    border:none;
}